.home {
    text-align: center;
    padding: 20px;
}

.home-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.home-intro {
    padding: 20px;
    background-color: #f7f7f7;
}

.home-cta {
    padding: 20px;
}

.home-cta button {
    padding: 10px 20px;
    font-size: 18px;
}

.home-footer {
    background-color: #282c34;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
